@import url('https://fonts.googleapis.com/css2?family=Prompt:ital,wght@1,300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Averia+Serif+Libre:wght@700&display=swap');

*{
    font-family: 'Prompt', sans-serif;
  }

/*  HOME PAGE/MAIN PAGE  */
.main {
    font-family: 'Averia Serif Libre', cursive;
    color:rgb(255, 255, 255);
}
  
  body {
    background: url("../images/background.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100%;
    background-position: 20% 80%;
  }
  
  #wrapper {
    margin: 0px 100px;
    background-color: 10px solid rgba(255,255,255,.5);
    padding: 20px;
  }

  p {
    color: white;
  }
  
  h1, h2, h3 {
    text-align: center;
    font-variant: small-caps;
    opacity: 100%;
    color: white;
  }
  h1{
    font-size: 300%;
  }
  
  footer {
    margin: 0px 100px 100px 100px;
    background-color: rgba(0, 0, 0, 100%);
    padding: 20px;
    letter-spacing: 8px;
    color: white;
  }

.images {
    display: block;
    margin: 0 auto;
    width: 640px;
    height: 360px;
    opacity: 85%;
}

.images:hover {
    transform: scale(1.01);
    transition: 1.3s;
}


hr {
    overflow: visible; 
    padding: 0;
    border: none;
    border-top: medium double rgb(255, 252, 252);
    color: rgb(255, 251, 251);
    text-align: center;
}

hr::after {
      content: "§";
    display: inline-block;
    position: relative;
    top: -0.7em;
    font-size: 1.5em;
    padding: 0 0.25em;
    background: none;
}

/*  NAVIGATIONS   */

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 10%;
    padding-right: 10%;

}

.logo {
    color: white;
    font-size: 35px;

}

span {
    color: red;
}

nav ul li {
    list-style-type: none;
    display: inline-block;
    padding: 10px 20px;
}   

nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;

}

nav ul li a:hover {
    color: red;
    transition: 0.3s;
}

/*   BLOGS / PORTFOLIOS    */

caption {
  font-size: 30px;
  padding-bottom: 10px;
  color: white;
}
table {
  text-align: left;
  position: relative;
  border-collapse: collapse; 
  background-color: white;
  opacity: 70%;
}
td, th {
  color: black;
  border: 1px solid #999;
  padding: 20px;
}
th {
  background: 10px solid rgba(255,255,255,.5);
  color:  white;
  border-radius: 0;
  position: sticky;
  top: 0;
  padding: 10px;
}
.primary{
  background-color: #000000
}

tfoot > tr  {
  background: black;
  color: white;
}
tbody > tr:hover {
  background-color:black;
  transition: 1.5s;
}

td, th:hover {
  color: white;
}

.feature {
    font-family: 'Averia Serif Libre', cursive;
    color:rgb(255, 255, 255);
}

/*  ABOUT  */

#about {
  margin: 0px 120px;
  background-image: url(../images/bg-about.jpg);
  opacity: 90%;
  padding: 20px;
}

h2.name {
  font-weight: bold;
}

.profile {
  display: block;
  margin: 0 auto;
  width: 360px;
  height: 360px;
  opacity: 85%;
  border-radius: 50%;
  opacity: 85%;
  padding-bottom: 30px;
}

.profile:hover {
    transform: scale(1.01);
    transition: 1.3s;
}

p.profile {
  font-size: 1rem;
  color: white;
  line-height: 2rem;
  margin-bottom: 2rem;
  padding-left: 0px;
  padding-right: 0px;
}

/*  CONTACT US  */

.contact-box {
  max-width: 100%;
  margin: 0 auto;
  padding: 3rem 3rem;
  text-align: center;
  background: 10px solid rgba(255,255,255,.5);
  background-attachment: scroll;
  background-repeat:no-repeat;
  background-position: 0 0;
  background-size: 100% 100%;
}

p.con-details {
  font-size: 1rem;
  color: black;
  line-height: 1.5rem;
  margin-bottom: 1rem;
  opacity: 100%;
}

.con-details{
  max-width: 400px;
  max-height: min-content;
  margin: 20px 20px 20px 20px;
  padding: 5px 5px 5px 5px;
  display: inline-block;
  background-color: lightgray;
  opacity: 70%;
  box-sizing: border-box;
}

.con-details:hover {
  opacity: 100%;
  transition: 1.5s;
}

.contact-img{
  padding: 30px;
  padding-top: 40px;
  width: 85px;
  height: 85px;
}

h3.contact-main {
  color: black;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  letter-spacing: 2px;
  font-size: 150%;
}

p.con-intro {
  padding-left: 250px;
  padding-top: 40px;
  font-family: 'Averia Serif Libre', cursive;
  font-size: 170%;
}

p.con-sub-intro {
  padding-left: 250px;
  font-family: 'Prompt', sans-serif;
  font-size: 125%;
}

.number {
  font-family: 'Prompt', sans-serif;
  color: rgb(34, 165, 209);
  font-size: 130%;
}
